<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="/assets/css/cvP/front.css" rel="stylesheet">
    <link href="/assets/css/cvP/waiting.css" rel="stylesheet">
    <link href="/assets/css/cvP/anim.css" rel="stylesheet">
    <title>~/CV_Nagib.html</title>
</head>

<body>
    <div class="loaddiv">
        <txt class="load"></txt>
    </div>
    <div class="Big_container">


        <div class="First_container">
            <img class="image_profile" src="/assets/image/profile.png">

            <p class="prenom">Nagib LAKHDARI</p>
            <p class="email">Nagib.LAKHDARI.pro@gmail.com </p>
            <p class="num">07 69 18 06 83</p>
        </div>

        <div class="Second_container">

            <diplomes class="diplomes">
                <p class="title">&lang; - Dimplomes - &rang;</p>
                <h1>2013 - 2014</h1>
                <p>Brevet des collèges - B2i</p>
                <h1>2017 - 2018</h1>
                <p>Baccalauréat Général Littérature spé Mathématique|Portugais|Théâtre</p>

            </diplomes>

            <competences class="competences">
                <p class="title">&lang; - Compétences - &rang;</p>
                <h1>INFORMATIQUE</h1>
                <p>Programmation en : Golang &mdash; Html &mdash; CSS &mdash; JS
                    <br> Microsoft office &mdash; Pack complet
                    <br> Gestion confirmée d’un ordinateur, et de ses composants</p>
                <h1>PROFESSIONNEL</h1>
                <p>Manipulation d’une caisse (ouverture, comptage et clôture)
                    <br>Gestion d’un magasin (la surface floor/de vente)
                    <br>Gérer une équipe
                    <br>Ouverture et fermeture d’un magasin
                    <br>Accroche client, compétitivité commerciale (CA magasin ou des objectifs demandés)
                </p>
            </competences>
            <Experience_pro class="exp_pro">
                <p class="title">&lang; - Experience pro - &rang;</p>
                <h1>2013 - 2014</h1>
                <p>Stage à la mairie d’Aulnay-Sous-Bois</p>

                <h1>2014 - 2016</h1>
                <p>Hôte de caisse|Agent polyvalent|chef d’équipe de l’entreprise familiale NEDROMA-SALON®
                    <br>(Produits manufacturées, de culture marocaine fait sur mesure)
                    <br>Salarié chez Kiko® (O’parinor)
                    <br>Intérimaire en préparation de commande chez ba&sh® (Aulnay-Sous-Bois)
                </p>

                <h1>2016 - 2017</h1>
                <p>Animateur (prestation) à domicile pour l’association ANIMAGINAIRE® (Ile-de-france)</p>

                <h1>2017 - 2019</h1>
                <p>Equipier chez McDonald's® de nuit (Aulnay-Sous-Bois)
                    <br>Caissier chez CARREFOUR® (O’parinor)
                    <br>Intérimaire et CDD en parfum à Sephora® (Paris 13ème)
                </p>

                <h1>2019 - aujourd'hui</h1>
                <p>Poste de spécialiste en maquillage à Sephora®(O’parinor)
                    <br>Poste d’équipier en caisse à Sephora® (O’parinor)
                    <br>Formateur des équipés/nouveaux managers au poste de caisse (Le système, les prélèvements, retours clients).
                </p>

            </Experience_pro>
            <br>
            <langues class="lg">
                <p class="title">&lang; - Langues - &rang;</p>
                <p class="portugais">Portugais</p>
                <ter class="circle_port"></ter>
                <p class="esp">Espagnol</p>
                <ter class="circle_esp"></ter>
                <p class="anglais">Anglais</p>
                <ter class="circle_anglais"></ter>
                <p class="arabe">Arabe</p>
                <ter class="circle_arabe"></ter>

            </langues>
            <Centres_dinterets class="centre_interets">
                <p class="title">&lang; - Centres d'interets - &rang;</p>
                <p>La philosophie et la littérature
                    <br>Apprendre de nouvelles choses
                    <br>L’informatique
                    <br>Le dessin, l’art</p>
            </Centres_dinterets>
            <ouverture_sur_le_monde class="voyages">
                <p class="title">&lang; - Ouverture sur le monde - &rang;</p>
                <p>Belgique
                    <br>Maroc
                    <br>Algérie
                    <br>Espagne
                    <br>Tunisie</p>
            </ouverture_sur_le_monde>
        </div>
    </div>
</body>

</html>